@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9821 0 0);
  --foreground: oklch(0.2891 0 0);
  --card:  #ffffff;
  --card-foreground: oklch(0.2891 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2891 0 0);
  --primary: oklch(0.5680 0.2002 26.4057);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5016 0.1887 27.4816);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.4819 0 0);
  --accent: oklch(0.8179 0.1705 77.9481);
  --accent-foreground: oklch(0.2891 0 0);
  --destructive: oklch(0.5386 0.1937 26.7249);
  --destructive-foreground:  #ffffff;
  --border: oklch(0.5386 0.1937 26.7249);
  --input: oklch(0.9612 0 0);
  --ring: oklch(0.6083 0.2090 27.0276);
  --chart-1: oklch(0.5680 0.2002 26.4057);
  --chart-2: oklch(0.7120 0.1795 53.5447);
  --chart-3: oklch(0.5645 0.1633 253.2706);
  --chart-4: oklch(0.5752 0.1446 144.1813);
  --chart-5: oklch(0.4533 0.1988 312.9559);
  --radius: 0.525rem;
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.2891 0 0);
  --sidebar-primary:  #d32f2f;
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7716 0.1024 19.6700);
  --sidebar-accent-foreground: oklch(0.2891 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.6083 0.2090 27.0276);
  --font-sans: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
  --font-serif: Lora, serif;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #a72828;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 1px 2px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 1px 2px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 2px 4px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 4px 6px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 8px 10px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 2.50);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2350 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2264 0 0);
  --popover-foreground:  #e0e0e0;
  --primary: oklch(0.6539 0.1926 25.1437);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6875 0.1420 21.4566);
  --secondary-foreground: oklch(0.9702 0 0);
  --muted: oklch(0.2850 0 0);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.8622 0.1681 88.3067);
  --accent-foreground: oklch(0.2350 0 0);
  --destructive: oklch(0.5680 0.2002 26.4057);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6539 0.1926 25.1437);
  --input: oklch(0.2891 0 0);
  --ring: oklch(0.6923 0.1765 26.6908);
  --chart-1: oklch(0.6539 0.1926 25.1437);
  --chart-2: oklch(0.8391 0.1615 84.3763);
  --chart-3: oklch(0.7482 0.1235 244.7492);
  --chart-4: oklch(0.7660 0.1179 145.2950);
  --chart-5: oklch(0.6455 0.1622 321.6136);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.6539 0.1926 25.1437);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5016 0.1887 27.4816);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2850 0 0);
  --sidebar-ring: oklch(0.6539 0.1926 25.1437);
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #a72828;
  --radius: 0.525rem;
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 1px 2px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 1px 2px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 2px 4px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 4px 6px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 1.00), 3px 8px 10px -1px hsl(0 61.3527% 40.5882% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 61.3527% 40.5882% / 2.50);
}

@theme inline {
  --font-sans: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-serif: Lora, serif;
  /* computed shadow variables below - do not modify */
  --shadow-2xs: var(--shadow-x) var(--shadow-y) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-xs: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-sm: var(--shadow-x) var(--shadow-y) calc(var(--shadow-blur) * 1.5) var(--shadow-spread) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-md: calc(var(--shadow-x) * 2) calc(var(--shadow-y) * 2) calc(var(--shadow-blur) * 3) calc(var(--shadow-spread) - 1px) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-lg: calc(var(--shadow-x) * 4) calc(var(--shadow-y) * 4) calc(var(--shadow-blur) * 5) calc(var(--shadow-spread) - 3px) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-xl: calc(var(--shadow-x) * 6) calc(var(--shadow-y) * 6) calc(var(--shadow-blur) * 7) calc(var(--shadow-spread) - 5px) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 100%), transparent);
  --shadow-2xl: calc(var(--shadow-x) * 8) calc(var(--shadow-y) * 8) calc(max(0px, var(--shadow-blur) * 9 - 8px)) calc(var(--shadow-spread) - 12px) color-mix(in srgb, var(--shadow-color) calc(var(--shadow-opacity) * 250%), transparent);
  --shadow: var(--shadow-md);
  --color-shadow-color: var(--shadow-color);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-y: var(--shadow-y);
  --shadow-x: var(--shadow-x);
  --radius: 0.525rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --sidebar-primary: var(--sidebar-primary);
  --destructive-foreground: var(--destructive-foreground);
  --card: var(--card);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}